h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	animation: moveHead 3s 1;
	transition: 1s ease-in-out;
} 

@keyframes moveHead { 
	0% { 
		width: 200px; 
		margin: 0 auto; 
		height: 150px; 
		border-radius: 200px 200px 0 0; 
		margin-bottom: 10px;
	 }

	 50% { 
	 		width: 300px;
    		transition: 1s ease-in-out;
	  }

	 100% { 
	 		width: 200px;
    		transition: 1s ease-in-out;
	  }
 }

.eyes {
	display: flex;
}

.head:hover {
	width: 300px;
    
}

.head:hover .left_eye {
	background-color: green;
}
.head:hover .right_eye {
	background-color: green;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
	transform: skew(-20deg);

} 

.left_arm:hover {
	transform: rotateY(20deg);
}

.right_arm { 
	margin-left: 10px; 
	transform: skew(20deg);

} 

.right_arm:hover { 
	transform: rotateY(-20deg);
 }

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
	animation: moveTorso 3s 1;
	transition: 2s ease-in-out;
} 

@keyframes moveTorso { 
	0% { 
		transform: rotateY(0deg);
	 }
	 50% { 
		transform: rotateY(180deg);
	 }
	 100% { 
		transform: rotateY(0deg);
	 }
 }

.firstImage { 
	display: none;
	margin:0 auto;
	margin-top: 10px;
	height: 130px;
	width: 150px;
 }

.torso:hover .firstImage { 
	display: block;s
 }

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display: flex; 
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover { 
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
 }

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
	animation: eyesColor 3s 1;
	transition: 1s ease-in-out;

} 

@keyframes eyesColor {

	0% { 
		background-color: white;
	 }

	 50% { 
	 	background-color: green;
	 	width: 50px;
	 	height:10px;
	  }

	  100% { 
	  	background-color: white;
	   }
}

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}


.android-2 {
	margin-left: 10px;
}

.right1,.right2,.right3 { 
	animation: RightHandMove 3s 1;
 }

@keyframes RightHandMove { 
	0% { 
		transform: skew(20deg);
	 }

	 50% {
	 	transform: skew(20deg);
  		transform: rotateY(20deg);
	 }

  100% {
  		transform: skew(20deg);

  		}

 }

 .left1,.left2,.left3 {
 	animation: rightHandMove 3s 1;
 }

 @keyframes rightHandMove { 
	0% { 
		transform: skew(-20deg);
	 }

	50% {
		transform: skew(-20deg);
  		transform: rotateY(-20deg);
	}
  100% {
  		transform: skew(-20deg);
  		}

 }

.firstSection { 
	margin:0 auto;
	margin-top: 10px;
	height: 130px;
	width: 150px;
	background-color: #5f93e8;
	transition: 0.7s ease-in-out;
 }

 .firstSection:hover { 
 	background-color: yellow;
  }

 .lastTorso:hover { 
 	transform: rotateY(180deg);
 	background-color: black;
  }

  img:hover { 
  	transition: 1s ease-in-out;
  	transform: scale(1.1);
   }

